@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=ranade@700,300,400,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Ranade", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
/* ::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(1, 179, 179);
  border-radius: 0.25em;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(26, 203, 203);
} */
h1 {
  font-family: "Poppins", sans-serif;
}
h2 {
  font-family: "Montserrat", sans-serif;
}
#Hero{
  background:linear-gradient(to right,#fefefe 25%,rgb(27, 189, 189),rgb(1, 156, 156));
}
#carditem{
  box-shadow: 5px 5px 10px grey;
}
.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(-10deg); }
  20% { transform: rotate(12deg); }
  30% { transform: rotate(-10deg); }
  40% { transform: rotate(9deg); }
  50% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}
a{
  text-decoration:none;
}
a:hover{
  text-decoration: none;
  color: white;
}
#bg{
  background:url("./bg.jpg");
  background-size:cover;
  background-repeat: no-repeat;
}
